@import "variables";
@import "breakpoints";
$paw: url('../../public/img/paw.png');
$paw-white: url('../../public/img/paw-white.png');

.breeds {
    position: relative;

    &__selector {
        cursor: pointer;
        border: 1px solid $primary-color;
        padding: 10px;
        border-radius: 25px;
        
        &--show {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }

    &__container {
        position: absolute;
        top: 100%;
        right: 0;
        z-index: 2;
        width: 100%;
        display: none;

        &--show {
            display: block;
        }


        &__scrollbox {
            height: 50vh;
            overflow-y: scroll;
            background-color: $bg-color;
            border-bottom-left-radius: 25px;
            border-bottom-right-radius: 25px;
            border: 1px solid $primary-color;
            border-top: none;
            padding: 10px 0;
            flex-direction: column;
            display: flex;

            /* width */
            &::-webkit-scrollbar {
                width: 25px;
            }
            
            /* Track */
            &::-webkit-scrollbar-track {
                box-shadow: inset 0 0 5px $primary-color; 
                border-radius: 10px;
                margin: 10px;
            }
            
            /* Handle */
            &::-webkit-scrollbar-thumb {
                background-image: $paw;
                background-size: contain;
                background-position: center center;
                background-repeat: no-repeat;
            }

            /* width */
            &::-webkit-scrollbar {
                width: 25px;
            }
            
            /* Track */
            &::-webkit-scrollbar-track {
                box-shadow: inset 0 0 5px $primary-color; 
                border-radius: 10px;
                margin: 10px;
            }
            
            /* Handle */
            &::-webkit-scrollbar-thumb {
                background-image: $paw;
                background-size: contain;
                background-position: center center;
                background-repeat: no-repeat;
            }
            
            /* Handle on hover */
            &::-webkit-scrollbar-thumb:hover {
                background-image: $paw-white;
            }

            &__item {
                // border: 2px solid $primary-color;
                // border-radius: 5px;
                padding: 5px 15px;
                // margin: 5px;
                cursor: pointer;

                &:nth-child(2n+1) {
                    background-color: $bg-color-lighten;
                }
            }
        }  
    } 
}


.shadow {
    bottom:0;      
    left:0;
    pointer-events:none;
    position:absolute;
    right:0;
    top:0;
    transition:all .2s ease-out;
  }
  
  .off-top {
    .shadow-top {
      box-shadow:0 1em 1em -1em black inset;
    }
  }
  
  .off-bottom {    
    .shadow-bottom {
      box-shadow:0 -1em 1em -1em black inset;
    }
  }

