@import "variables";
@import "breakpoints";
$paw: url('../../public/img/paw.png');
$paw-white: url('../../public/img/paw-white.png');

.current-dog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    @include breakpoint-above(md) {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
    }

    &__image {
        width: 300px;
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        border-radius: 25px;
        padding: 15px;
        box-shadow: 5px 5px 35px -10px $primary-color;

        @include breakpoint-above(xs) {
            width: 400px;
            height: 400px;
        }

        @include breakpoint-above(sm) {
            width: 600px;
            height: 600px;
        }

        @include breakpoint-above(lg) {
            width: 700px;
            height: 700px;
        }

        img {
            max-width: 100%;
            max-height: 100%;
            border-radius: 5px;
        }
    }

    &__description {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        width: 100%;

        @include breakpoint-above(md) {
            max-width: 300px;
        }
        
        &__title {
            font-size: 1.5rem;
            font-weight: 500;
            text-transform: uppercase;
            line-height: 30px;
            margin-bottom: 40px;
            height: 60px;
        }

        &__subtitle {
            display: none;
            margin-bottom: 15px;
            line-height: 20px;
        }

        &__record {
            display: none;
            flex-direction: column;
            max-height: 300px;
            overflow-y: auto;

            @include breakpoint-above(xs) {
                max-height: 400px;
            }
    
            @include breakpoint-above(md) {
                max-height: 565px;
            }

            &::-webkit-scrollbar {
                width: 25px;
            }
            
            &::-webkit-scrollbar-track {
                box-shadow: inset 0 0 5px $primary-color; 
                border-radius: 10px;
                margin: 8px;
            }
            
            &::-webkit-scrollbar-thumb {
                background-image: $paw;
                background-size: contain;
                background-position: center center;
                background-repeat: no-repeat;
            }

            &::-webkit-scrollbar-thumb:hover {
                background-image: $paw-white;
            }

            &__button {
                background-color: $bg-color;
                border: none;
                cursor: pointer;
                padding: 10px;
                margin: 8px 10px 8px 0px;
                border: 1px solid $primary-color;
                border-radius: 25px;
                text-transform: capitalize;

                &:hover {
                    background-color: $primary-color;
                    color: $bg-color;
                    font-weight: 600;
                }
            }
        }
    }
}