<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600&display=swap" rel="stylesheet">
    <title>Dogo browser</title>
</head>
<body>
    <main class="dogo-browser">
        <sectiom class="dogo-browser__header">
            <img src="/img/logo.png" alt="Dogo Browser Logo">
            <div class="breeds">
                <div class="breeds__selector" id="show">
                    Select a breed from the list
                </div>
                <div class="breeds__scrollbox">            
                </div>     
            </div>
        </sectiom>
        <section class="dogo-browser__display">
            <div class="current-dog">
                <div class="current-dog__image">
                    <img id="dogoImg" src="" alt="chosen doggo">
                </div>
                <div class="current-dog__description">
                    <h1 class="current-dog__description__title">Welcome Doggo</h2>
                    <p class="current-dog__description__subtitle">Recently selected:</p>
                    <div class="current-dog__description__record"></div>
                </div>
            </div>    
        </section>
    </main>
</body>
</html>